@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@custom-variant hocus (&:hover, &:focus);

:root {
  --primary-color: #fafafa;
  --secondary-color: #d1d1d1;
  --background-color: #111111;
  --secondary-background-color: #181818;
}

body {
  @apply bg-[#111111] text-gray-300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img {
  transform: scale(10vw);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

*:focus {
  outline: none;
}
